
<div class="container">


    <div class="row m-0">

      <div  class="card col-lg-7 m-1">

        <img  class =" card-img-top" src="./assets/img/b.jpg">
		<div class="card-img-overlay">
			<h2 class="card-title">BEACH </h2>

        <p class="card-text">best escape anyone can have</p>
		</div>
        
      </div>
<div  class=" card col-lg-4 mb-1 mt-1">

        <img  class ="bild2 card-img-top" src="./assets/img/stadt.jpg">
		<div class="card-img-overlay">
			<h2 class="card-title">CITY </h2>

        <p class="card-text">action</p>
		</div>
        

      </div>
<div  class=" card col-lg-11 m-1">

        <img  class =" card-img-top" src="./assets/img/winter.jpg">
		<div class="card-img-overlay">
			<h2 class="card-title">WINTER WONDERLAND </h2>

        <p class="card-text"> dreams come true</p>
		</div>
        

      </div>
      <div  class=" card col-lg-4 m-1">

        <img  class ="bild2 card-img-top" src="./assets/img/autumn.jpg">
		<div class="card-img-overlay">
			<h2 class="card-title">AUTUMN</h2>

        <p class="card-text">beautiful</p>
		</div>
        

      </div>
       <div  class="card col-lg-7 mt-1 mb-1">

        <img  class =" card-img-top" src="./assets/img/mo.jpg">
		<div class="card-img-overlay">
			<h2 class="card-title">MOUNTAINS </h2>

        <p class="card-text">are big stones</p>
		</div>
	</div>
       <div  class=" card col-lg-11 m-1">

        <img  class =" card-img-top" src="./assets/img/ja.jpg">
		<div class="card-img-overlay">
			<h2 class="card-title">JAPAN</h2>

        <p class="card-text"> endless discovery</p>
		</div>
        

      </div>
      <div  class="card col-lg-7 m-1">

        <img  class =" card-img-top" src="./assets/img/ny.jpg">
		<div class="card-img-overlay">
			<h2 class="card-title">NEW YORK CITY</h2>

		</div>
        
      </div>
      <div  class=" card col-lg-4 mb-1 mt-1">

        <img  class ="bild2 card-img-top" src="./assets/img/kroa.jpg">
		<div class="card-img-overlay">
			<h2 class="card-title">CROATIA</h2>
		</div>
        

      </div>
      
</div>
</div>

      