<div class="container marketing">


    <div class="row m-0">

      <div  class="col-lg-4 m-0">

        <img  class ="rounded-circle" src="./assets/img/b.jpg">

        <h2>Your beach Journey</h2>

        <p>Feel the sea breeze blowing on your face. Feel the salt tickling your nose as you hear the sound of seagulls flocking in the distance…</p>

        <p><a class ="btn btn-default" href="/"  role="button">View details &raquo;</a></p>

      </div>


      <div class="col-lg-4 m-0">

        <img class="rounded-circle" src ="./assets/img/berge.jpg" >

        <h2>Journey to the Mountains</h2>

        <p>Mountains can aid tourism and bring in money for the people who live there. More than 50 million people visit mountains each year. Many mountain towns around the world depend on tourists to support them. People in the town provide food and lodging for tourists who come to enjoy the nearby mountains.</p>

        <p><a  class="btn btn-default" href= "/" role="button" >View details &raquo;</a></p>

      </div>


      <div class="col-lg-4  m-0" >

        <img class= "rounded-circle" src="./assets/img/schiff.jpg">

        <h2>Journey on a Cruise ship</h2>

        <p>Cruise travel is not for everyone; however, with hundreds of ships and hundreds of itineraries to choose from, there is a cruise line and cruise ship to suit most traveler's dream vacation. Although most cruise lovers can identify dozens of things they love about cruising, these 9 things about cruise travel will appeal to almost everyone.</p>

        <p><a class="btn btn-default"  href="/"  role="button">View details &raquo;</a></p>

      </div>

      <div class="col-lg-4 m-0" >

        <img class= "rounded-circle" src="./assets/img/stadt.jpg">

        <h2>City Journey</h2>

        <p>We love the city. We love watching people, we love the buzz that moves through buildings, parks and squares like an airflow. The city is home to multiple conformities. In a city it all happens; a microcosmos of opportunities and historic failures.</p>

        <p><a class="btn btn-default"  href="/"  role="button">View details &raquo;</a></p>

      </div>
      <div class="col-lg-4 m-0">

        <img class= "rounded-circle" src="./assets/img/sh.jpg">

        <h2>Shooping Journey</h2>

        <p>IF SAVING MONEY IS ON your list of New Year's resolutions, but you love to shop, here's some good news: You don't have to cut shopping out of your life.

Timing is everything in the retail world. And knowing when seasonal items are likely to go on sale and when major sales take place allows you to buy everything you want, but pay significantly less.</p>

        <p><a class="btn btn-default"  href="/"  role="button">View details &raquo;</a></p>

      </div>
      <div class="col-lg-4 m-0">

        <img class= "rounded-circle" src="./assets/img/ad.jpg">

        <h2>Adventure Journey</h2>

        <p>Set your horizons beyond the norm and ask yourself, “Have I got what it takes to go on an adventure holiday?” Offering so much more than the traditional fly and flop getaway, adventure holidays can encompass a huge range of sports; outdoor activities, cultural experiences, tours and excursions meaning choice is only limited by your imagination and appetite for adventure.</p>

        <p><a class="btn btn-default"  href="/"  role="button">View details &raquo;</a></p>

      </div>
    </div>

    </div>
