<div class="row">
        <div class="col-md-4">
               
                <form [formGroup]="this.customerService.form" (ngSubmit)="onSubmit()">
                        <input type="hidden" formControlName="$key">
                        <div class="form-group">
                                <label>Name</label>
                                 <input formControlName="Name" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.Name.errors}"> <div class="invalid-feedback" *ngIf="submitted && formControls.Name.errors">This field is required</div>
                        </div>
                         
                        <div class="form-group">
                                <label>Email</label>
                                <input formControlName="email" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.email.errors}">
                                <div class="invalid-feedback" *ngIf="submitted && formControls.email.errors">invalid email address ..</div>
                        </div>
                        <div class="form-group">
                                <label>Mobile</label>
                               <input formControlName="mobile" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.mobile.errors}">
                                <div class="invalid-feedback" *ngIf="submitted && formControls.mobile.errors">
                                        <label *ngIf="formControls.mobile.errors.required">This field is required</label>
                                        <label *ngIf="formControls.mobile.errors.minlength">at least 10 numbers</label>
                                </div>
                        </div>
                        <div class="form-group">
                                <label>Adress</label>
                                <input formControlName="adress" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.adress.errors}">
                                <div class="invalid-feedback" *ngIf="submitted && formControls.adress.errors">This field is required</div>
                        </div>
                         <div class="form-group">
                                <label>ZIP</label>
                                <input formControlName="zip" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.zip.errors}">
                                <div class="invalid-feedback" *ngIf="submitted && formControls.zip.errors">This field is required</div>
                        </div>
                         <div class="form-group">
                                <label>City</label>
                                <input formControlName="city" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.city.errors}">
                                <div class="invalid-feedback" *ngIf="submitted && formControls.city.errors">This field is required</div>
                        </div>
                        <div class="form-group">
                                <input type="submit" class="btn btn-primary" value=" Add Info">

                        </div>
                </form>
                <div class="alert alert-info" *ngIf="showSuccessMessage">
        submitted successfully.
</div>
        </div>
        


        <div class="col-md-7">
                <app-customer-list></app-customer-list>
        </div>
</div>